{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 text-center">
    <h1 class="text-center mb-4">Acerca de Nosotros</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <p class="lead text-muted text-justify">
                Bienvenidos a <strong>OnlyFlans</strong>, su destino favorito para disfrutar de los mejores postres. 
                Nos especializamos en la creación de flanes irresistibles, preparados con los más frescos ingredientes y una 
                pizca de amor. Nuestra misión es endulzar sus momentos más especiales con cada bocado.
            </p>
            <p class="lead text-muted text-justify">
                En <strong>OnlyFlans</strong>, cada flan es una obra maestra. Desde el clásico flan de vainilla hasta 
                innovaciones sorprendentes como flan de café y flan de chocolate, tenemos algo para todos los gustos. 
                Cada receta ha sido perfeccionada a lo largo del tiempo, garantizando una textura suave y un sabor 
                inigualable.
            </p>
            <p class="lead text-muted text-justify">
                Nuestro compromiso con la calidad y la satisfacción del cliente es lo que nos distingue. Cada día, 
                nos esforzamos por superar las expectativas de nuestros clientes, ofreciendo productos frescos y un 
                servicio excepcional. Gracias por elegir <strong>OnlyFlans</strong>; esperamos que disfruten de nuestros 
                deliciosos postres tanto como nosotros disfrutamos creándolos.
            </p>
        </div>
    </div>
</div>
{% endblock %}


